:root,
html,
body {
  margin: 0;
  padding: 0;
}

:root {
  overflow: auto;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.el-scrollbar * {
  scroll-behavior: auto;
}

.icon {
  width: 1.1em;
  height: 1.1em;
}

a {
  text-decoration: none;
  color: inherit;
}
