@import url("element-plus/theme-chalk/el-var.css");
@import url("element-plus/theme-chalk/dark/css-vars.css");

html:root {
  --el-color-primary: #409eff;

  --app-aside-open-width: 200px;
  --app-aside-close-width: 64px;
  --app-aside-width: var(--app-aside-open-width);

  --app-header-height: 50px;
}
