@import url("element-plus/theme-chalk/el-var.css");
@import url("element-plus/theme-chalk/dark/css-vars.css");

:root:root {
  --el-color-primary: #1383c9;

  --app-aside-width: 200px;
  --app-header-height: 50px;
}
